<nav>
    <div id="site-title">
        <a href="/" style="color: #738ADB;">MyBlogger</a>
    </div><br>
    <ul>
        <a href="/">|   Home |</a><br><br>
        <a href="/about">About |</a><br>
        <a href="/blogs/create">Create Post |</a><br><br>
    </ul>
</nav> 