<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <h1>404 PAGE NOT FOUND!!!</h1>
    <br><br>
    <%- include('./partials/nav.ejs') %>
</body>
<%- include('./partials/footer.ejs') %>
</html>

